@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  color: #202833;
}

h1 {
    font-family: "Oswald";
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #202833;
}
button {
  background: none;
}
